.postDetail {
  background-color: #f2f2f2;
  .post-header {
    margin-top: 3rem;
    height: 35rem;
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    position: static;
    padding: 2rem;
    color: white;
    .post-header-container {
      .return-options {
        a {
          color: white;
          display: inline-flex;
          align-items: center;
          font-size: 17px;
          font-weight: 700;
          span {
            font-size: 17px;
            font-weight: bold;
            margin-right: 5px;
          }
          &:hover {
            text-decoration: none;
          }
        }
      }
      .post-header-title {
        height: 30rem;
        display: flex;
        align-items: center;
        justify-content: center;
        h2 {
          font-weight: bold;
          font-size: 4rem;
        }
      }
    }
  }
  .post-summary {
    padding: 3rem 10rem;
    font-weight: 500;
    font-size: 2.1rem;
  }
  .post-comments {
    width: 50rem;
    margin: auto;
    .post-comments-title {
      h3 {
        font-weight: 700;
      }
    }
    .comments-section {
    }
    .comment-form {
      form {
        padding-top: 2rem;
        padding-bottom: 3rem;
        .form-col {
          .invalid {
            border-bottom: 1px solid red;
          }
          textarea {
            width: 100%;
            border-left: 0;
            border-top: 0;
            border-right: 0;
            border-bottom: 1px solid #3f51b5;
            margin-bottom: 1rem;
            background-color: unset;
            font-size: 20px;
            transition: 0.5s;
          }
          .submit-button {
            border: 0;
            background: #3f51b5;
            color: white;
            padding: 0.4rem 1.6rem;
            border-radius: 4px 4px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 820px) {
  section {
    .post-header {
      height: 20rem;
      .post-header-container {
        .post-header-title {
          height: 14rem;
          h2 {
            font-size: 3rem;
          }
        }
      }
    }
    .post-summary {
      font-size: 1.5rem;
      padding: 3rem 1rem;
    }
    .post-comments {
      width: 80%;
    }
  }
}
