@import "../node_modules/material-icons/iconfont/material-icons.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  margin: 0;
  font-family: system-ui;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}



// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
//     monospace;
// }
